@import "tailwindcss";

html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

body {
  -webkit-font-smoothing: antialiased;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0.5;
}
